%h1 Content pages

- if @pages.any?
  %table.list.full_width
    %thead
      %tr
        %th Title
        %th Permalink
        %th Last updates
        %th Controls
    %tbody
      - @pages.each do |page|
        %tr[page]
          %td= page.title
          %td= link_to page.permalink, page
          %td= page.updated_at.to_s(:short)
          %td
            = link_to 'Edit', edit_admin_page_path(page)
            = link_to 'Remove', admin_page_path(page)
- else
  %p.nothing No pages defined yet
  
%h2 Create new page
= render :partial => 'form'