%h1 Content pages
.column-block
  .body
    - if @pages.any?
      %table.list.full_width
        %thead
          %tr
            %th Title
            %th Permalink
            %th Last update
            %th Controls
        %tbody
          - @pages.each do |page|
            %tr[page]
              %td= page.title
              %td= link_to page.permalink, page, :title => page_url(page)
              %td= page.updated_at.to_s(:long)
              %td
                = link_to edit_admin_page_path(page) do
                  %i.icon-edit
                = link_to [:admin, page], :confirm => 'Are you sure?', :method => :delete do
                  %i.icon-trash
    - else
      %p.nothing No pages defined yet

.row_seperator
.column-block
  %h3 Create new page
  .body
    = render :partial => 'form'