%h1 Content pages
.column-block
  .body
    - if @pages.any?
      %table.list.full_width
        %thead
          %tr
            %th= sortable 'title'
            %th= sortable 'permalink'
            %th= sortable 'updated_at', "Last update"
            %th Controls
        %tbody
          - @pages.each do |page|
            %tr[page]
              %td= page.title
              %td= link_to page.permalink, page, :title => page_url(page)
              %td= page.updated_at.to_s(:long)
              %td
                = link_to icon_tag('page_edit'), edit_admin_page_path(page)
                = link_to icon_tag('delete'), [:admin, page], :confirm => 'Are you sure?', :method => :delete
      = will_paginate @pages
    - else
      %p.nothing No pages defined yet

.row_seperator
.column-block  
  %h3 Create new page
  .body
    = render :partial => 'form'