%ul.nav.mainmenu
  %li.divider-vertical
  %li{class: (:active if active_page?('admin/episodes'))}
    = link_to 'Episodes', [:admin, :episodes]
  %li{class: (:active if active_page?('admin/interactions'))}
    = link_to 'Interaction', [:admin, :interactions]
  %li{class: (:active if active_page?('admin/programs') || active_page?('admin/images'))}
    = link_to 'Programs', [:admin, :programs]
  %li{class: (:active if active_page?('admin/users'))}
    = link_to 'Users', [:admin, :users]
  %li{class: (:active if active_page?('admin/genres'))}
    = link_to 'Genres', [:admin, :genres]
  %li{class: (:active if active_page?('admin/networks'))}
    = link_to 'Networks', [:admin, :networks]
