- page_title "#{@user.login.humanize}'s episode guide"
- stylesheet_link_tag :episode
%section
  .page-header
    %h1
      - if current_user == @user
        My digital TV guide
      - else
        == #{@user.login.humanize}'s digital TV guide
      - if current_user == @user
        %button{:class => :'btn flt-right add_program'} Add new program

%section
  .row
    .span11
      .page-header
        %h4 
          Recently aired
          - if current_user.try(:trusted?)
            = link_to tokened_user_programs_path(:user_credentials => current_user.single_access_token, :format => :rss), :title => 'Use this rss feed to enable automatic downloading (sabnzbd+)', :class => 'right-rss' do
              = icon_tag('rss', {:size => '24x24'})
      - if @past_episodes.any?
        - cache([:main_guide, @past_episodes.first]) do
          - date = nil
          %dl#past-episodes
            - @past_episodes.each do |episode|
              - if date != episode.airs_at.to_date
                - date = episode.airs_at.to_date
                %dt
                  .page-header
                    %h5= pretty_date date
              = render 'episodes/past_episode', {:episode => episode}
      - else
        %p No past episodes found

    .span5
      .page-header
        %h4 Next airing
      - if @upcoming_episodes.any?
        - date = nil
        %dl#next-airing
          - @upcoming_episodes.each do |episode|
            - if date != episode.airs_at.to_date
              - date = episode.airs_at.to_date
              %dt= pretty_date date
            %dd[episode]
              = link_to episode.program_name, episode.program
              - if episode.nr == 1
                - if episode.season_nr == 1
                  %span.label.success New
                - else
                  %span.label.success New season
              - if false
                \ -
                = link_to episode.title, episode
      - else
        %p No airing episodes
- if current_user == @user
  #add_program_block.modal.fade
    = form_for [current_user, @program_preference], :remote => true do |f|
      .modal-header
        = link_to 'x', '#', :class => :close
        %h2 Add new program
      .modal-body
        %fieldset
          .clearfix
            %label{:for => :q} Program name
            .input
              = text_field_tag :q, params[:q] || '', :class => :autocomplete
          - if current_user.trusted?
            .clearfix
              %label Format
              .input          
                = f.collection_select :search_term_type_id, SearchTermType.all, :id, :name
          - else
            = f.hidden_field :search_term_type_id
            = f.hidden_field :program_id
      .modal-footer
        = submit_tag "Add", :class => :'btn primary', :disable_with => 'Adding...'
