- page_title "#{@user.login.humanize}'s episode guide"
- content_for(:bottom_js_domready) do
  :plain
    $('.autocomplete').autocomplete({
      source: '/programs/search',
      minlength: 2
    });

%h1
  %span.header== Personal guide for #{@user.login}
  - if current_user == @user
    .header_link= link_to_function icon_tag('add', {:size => '24x24'}), "$('#add_program').toggle(500)"

- if current_user == @user
  .column-block#add_program{:style => 'display:none'}
    %h2 Add new program
    .body
      - form_for [current_user, @program_preference], :remote => true do |f|
        .form_row
          = text_field_tag :q, params[:q] || '', :class => :autocomplete
          = f.collection_select :search_term_type, SearchTermType.all, :id, :name
          %button.save Add
.column-block.just_aired
  %h2
    %span.header Recently aired
    - if current_user.try(:trusted?) && current_user == @user
      .header_link
        = link_to icon_tag('rss', {:size => '24x24'}), tokened_user_programs_path(:user_credentials => current_user.single_access_token, :format => :rss), :title => 'Use this rss feed to enable automatic downloading (sabnzbd+)'
    
  .body
    %ul.imagebar
      - @past_episodes.take(3).each do |episode|
        = render 'episodes/image_strip', :episode => episode
      - @past_episodes = @past_episodes.drop(3)

.two-third-column.flt-left
  .column-block.large_column_guide
    %h1 Other recently aired
    .body
      - if @past_episodes.any?
        %ul.list
          - last_date = nil
          - @past_episodes.each do |episode|
            - unless last_date == episode.airs_at.to_date
              - last_date = episode.airs_at.to_date
              %li.header
                %h4= l last_date, :format => :with_day
            = render 'episodes/past_episode', {:episode => episode}
      - else
        %p.nothing No previous shows
.third-column.flt-right
  .column-block
    %h1 Next airing episodes
    .body
      %ul.mini_guide.list
        - last_date = nil
        - @upcoming_episodes.each do |episode|
          - unless last_date == episode.airs_at.to_date
            - last_date = episode.airs_at.to_date
            %li.header
              %h4= l last_date, :format => :with_day
          %li
            = link_to episode.program_name, episode.program
            \-
            = link_to episode.title, episode 
            %span.smaller== (#{episode.season_and_episode})