- page_title "#{@user.login.humanize}'s episode guide"
- content_for(:bottom_js_domready) do
  :plain
    $('.autocomplete').autocomplete({
      source: '/programs/search',
      minlength: 2,
      select: function(event, ui) {
        $.post('#{user_programs_path(current_user)}', {id: ui.item.id});
        return true;
      }
    });
%h1
  - if @user == current_user
    Your episode guide
  - else
    == #{@user.login.humanize}'s episode guide
.column-block
  %h2 All programs
  .body
    - if @programs.any?
      - cache([logged_in?, @user.id, @program_cache_key]) do 
        - if current_user == @user
          %p!== You are currently following #{@programs.map{|p| link_to p.name, p}.to_sentence}
        - else
          %p!== #{@user.login} is currently following #{@programs.map{|p| link_to p.name, p}.to_sentence}
    - else
      %p.nothing No programs following yet
.half-column.flt-left
  .column-block
    %h2.no_bottom_margin
      %span.header Recently aired
      - if current_user.try(:trusted?) && current_user == @user
        .header_link
          = link_to icon_tag('rss', {:size => '24x24'}), tokened_user_programs_path(:user_credentials => current_user.single_access_token, :format => :rss), :title => 'Use this rss feed to enable automatic downloading (sabnzbd+)'
    .body
      - cache([:past_episodes, logged_in?, @user.id, @program_cache_key, @past_episodes.first]) do
        - if @past_episodes.any?
          %ul.list.program_guide= render :partial => 'episodes/episode', :collection => @past_episodes, :locals => {:comments => true}
        - else
          %p.nothing No previous shows
.half-column.flt-right
  - if current_user == @user
    .column-block
      %h2 Follow a new program
      .body
        = form_for(:program, :url => suggest_programs_path) do |f|
          .form_row.one_line_form
            %label Add new program
            = text_field_tag :q, params[:q] || '', :class => :autocomplete
            %button.search ?
  - cache([:upcoming, @user.id, @program_cache_key, @upcoming_episodes.first]) do
    .column-block
      %h2 Upcoming episodes
      .body
        - if @upcoming_episodes.any?
          %ul.list.program_guide= render :partial => 'episodes/episode', :collection => @upcoming_episodes, :locals => {:comments => true}
        - else
          %p.nothing No upcoming shows
:javascript
  /*** CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE ***/
  var disqus_shortname = 'digitaltvguide'; // required: replace example with your forum shortname

  /*** DON'T EDIT BELOW THIS LINE ***/
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  