%h1
  == #{@station.name} station
  - if user_signed_in? && @station.user == current_user #this should be a cancan rule
    .pull-right
      = link_to "Add to station", new_station_program_path(@station), remote: true, class: :btn

.row
  .span3
    .page-header
      %h4 Stations
    = render 'application/station_list'
    %h4 Included programs
    %ul.well.nav.nav-list
      - @station.programs.order(:name).each do |program|
        %li[program]= link_to program.name, program

  .span6
    %h3
      Recently aired
      - if current_user.try(:trusted?)
        .pull-right.trusted-actions
          = link_to download_list_station_path(@station,
          :authentication_token => current_user.authentication_token, format: :rss) do
            %i.icon-rss
    %section.past_episodes
      - if @past_episodes.any?
        %dl#past-episodes
          = render 'episodes/past_episodes', past_episodes: @past_episodes
      - else
        %p.text-center It's very quite in this lane. I Could use some company ;-)
  .span3
    .page-header
      %h4 Next airing
    .well
      - if @next_episodes.any?
        - cache [:next_airing, @station, @next_episodes.order('updated_at').last] do
          = render 'episodes/next_airing', next_episodes: @next_episodes
      - else
        %p Nope, nothing airing anytime soon...