- program ||= episode.program
- season  ||= episode.season
%li[episode]{:class => episode.view_classes}
  = link_to "#{episode.nr} - #{episode.title} - #{episode.airdate.to_s(:long)}", [@program, @season, @episode]
  %ul.controls
    %li= link_to "Search", search_episode_path(episode), :target => '_blank'
    %li= link_to "HD", search_episode_path(episode, :hd => true), :target => '_blank'
    - if episode.nzb?
      %li= link_to "Download", download_episode_path(episode), :target => '_blank'
