%h1
  %span.header== #{@episode.program.name} - Season #{@episode.season.nr} - #{@episode.title}
%p
  == Airdate: #{l @episode.airs_at, :format => :long} 
  - if @episode.airs_at.past?
    == (#{distance_of_time_in_words_to_now(@episode.airs_at)} ago)
  - else
    == (in about #{distance_of_time_in_words_to_now(@episode.airs_at)})
  
%p= @episode.description

%p
  - if current_user && current_user.trusted? && @episode.airs_at && @episode.airs_at.past?
    %button.download= link_to "Download nzb", download_program_episode_path(@episode.program, @episode)
    %button= link_to 'Search', search_program_episode_path(@episode.program, @episode), :target => '_blank'
    %button= link_to 'Search HD', search_program_episode_path(@episode.program, @episode, :hd => true), :target => '_blank'
    or
  = link_to 'go back', :back