- content_for :hero_unit do
  - banner_url = @program.banner.try(:file).try(:url)
  .hero-unit.teaser{style: "background-image: url(#{banner_url})"}
    %ul.pager
      - if @nav[:next].present?
        %li.previous
          = link_to [:admin, @nav[:next]] do
            == &larr; #{@nav[:next].name}
      - if @nav[:previous].present?
        %li.next
          = link_to [:admin, @nav[:previous]] do
            == #{@nav[:previous].name} &rarr;
    %h1
      = @program.name
      %small
        %ul.nav.nav-pills
          %li= link_to "public", @program
          %li{class: (:active if controller_name == 'programs')}= link_to "admin", [:admin, @program]
          %li{class: (:active if controller_name == 'episodes')}= link_to "episodes", [:admin, @program, :episodes]
          %li{class: (:active if controller_name == 'images')}= link_to "images", [:admin, @program, :images]
