%tr[program]
  %td
    = link_to truncate(program.name, :length => 40), [:admin, program]
    - unless program.series_image
      %span.label-warning.label= 'No banner'
  %td
    - if next_aired = program.episodes.airs_at_in_future.first
      %abbr{:title => next_aired.full_episode_title}
        = next_aired.airs_at.to_s(:long)
      - if program.episodes.airs_at_in_future.count > 1
        == (+#{program.episodes.airs_at_in_future.count - 1})
    - else
      \-
  %td= program.status
  %td
    = distance_of_time_in_words_to_now( program.updated_at )
    ago
  %td
    - if program.last_checked_at
      = distance_of_time_in_words_to_now( program.last_checked_at )
      ago
    - else
      \-
  %td
    = link_to [:admin, program] do
      %i.icon-eye-open
    = link_to edit_admin_program_path(program) do
      %i.icon-edit
    = link_to [:admin, program], :confirm => 'Are you sure?', :method => :delete do
      %i.icon-trash
