%h1 Listing programs

- if @programs.any?
  %table.list
    %thead
      %tr
        %th Name
        %th Next episode
        %th Last update
        %th Last checked
        %th Controls
    %tbody
      - prev_status = nil
      - @programs.each do |program|
        - if prev_status != program.status
          - prev_status = program.status
          %tr
            %th.text-center{:colspan => 99}== #{program.status} programs
        %tr[program]
          %td= link_to truncate(program.name, :length => 40), [:admin, program]
          %td
            - if next_aired = program.episodes.airs_at_in_future.first
              = next_aired.airs_at.to_s(:long)
              - if program.episodes.airs_at_in_future.count > 1
                == (+#{program.episodes.airs_at_in_future.count - 1})
            - else
              \-
          %td
            = distance_of_time_in_words_to_now( program.tvdb_last_update )
            ago
            == (#{pluralize(program.program_updates.real_updates.count, 'update')})
          %td
            - if program.last_checked_at
              = distance_of_time_in_words_to_now( program.last_checked_at )
              ago
            - else
              \-
          %td
            = link_to icon_tag('info'), [:admin, program]
            = link_to icon_tag('page_edit'), edit_admin_program_path(program)
            = link_to icon_tag('delete'), [:admin, program], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New program', new_program_path
