.page-header
  %h1== Listing programs (#{Program.count})

- if @programs.any?
  %table.table.table-striped
    %thead
      %tr
        %th= sortable 'name'
        %th Next episode
        %th= sortable 'status'
        %th= sortable 'tvdb_last_update', 'Last update'
        %th= sortable 'last_checked_at', 'Last checked'
        %th Controls
    %tbody= render @programs
  = will_paginate @programs
