- require 'pp'
%h1= @program.name

.full-column
  .half-column.flt-left
    .column-block
      %h3 Show summary
      .body
        %p= @program.overview
  .half-column.flt-right
    .column-block
      %h3 Show statistics
      .body
        .form_row
          %label Nr of episodes
          = pluralize( @program.episodes.count, 'episode')
          in
          = pluralize( @program.max_season_nr, 'season')
        .form_row
          %label Nr of watchers
          = pluralize(@program.users.count, 'user')
        .form_row
          %label First episode aired at
          - if @program.episodes.by_airs_at.first.airs_at
            = l(@program.episodes.by_airs_at.first.airs_at, :format => :long)
          - else
            \-
        .form_row
          %label Last aired
          = @program.episodes.airs_at_in_past.last.airs_at.to_s(:long)
        .form_row
          %label Last episode update
          = @program.episodes.by_created_at.last.created_at.to_s(:long)
        .form_row
          %label Custom conifiguration?
          = @program.configuration ? 'yes' : 'no'
.full-column
  .half-column.flt-left
    .column-block
      %h3 Program settings
      .body
        = form_for([:admin, @program]) do |f|
          .form_row
            = f.label :search_term, 'Custom search term'
            = f.text_field :search_term
          .form_row
            %label Search term
            = link_to @program.episodes.airs_at_in_past.last.search_query(true), @program.episodes.airs_at_in_past.last.search_url
          %button.save Save

      .row_seperator
      %h3 Current filter
      .body
        = form_for([:admin, @configuration]) do |f|
          = f.hidden_field :program_id
          - if @configuration.new_record?
            %p.nothing There is no custom filter yet, editing the custom filter below will create a custom one
          %pre= raw @program.active_configuration.filter_data.to_yaml
          .form_row
            = f.label :filter_data, 'filter data (Hash)'
            = f.text_area :filter_data
          %button.save= @configuration.new_record? ? 'Create' : 'Update'
  .half-column.flt-right
    .column-block
      %h3 Default Filter [HASH]
      .body
        %pre= raw @default_configuration.filter_data.pretty_inspect
    .column-block
      %h3 Default Filter [YAML]
      .body
        %pre= raw @default_configuration.filter_data.to_yaml


= link_to 'Edit', edit_program_path(@program)
\|
= link_to 'Back', programs_path
