= render 'hero', program: @program, nav: @nav

%section#program
  .row-fluid
    .span8
      .page-header
        %h3 Show summary
      %p= @program.overview

      .page-header
        %h3 Important program settings
      = simple_form_for([:admin, @program]) do |f|
        = f.input :name
        = f.input :search_name
        = f.input :slug, hint: 'Leaf slug empty to trigger an auto-regenerate'
        = f.input :active
        .form-actions
          = f.button :submit, data: { disable_with: 'Please wait...' }, class: 'btn-primary'

    .span4
      .page-header
        %h3 Show statistics
      %dl
        %dt Nr of episodes
        %dd
          = pluralize( @program.episodes.count, 'episode')
          in
          = pluralize( @program.max_season_nr, 'season')
        %dt First episode aired at
        %dd
          - if @program.first_aired
            = l(@program.first_aired, :format => :long)
          - else
            \-
        %dt Last aired
        %dd
          - if @last_episode
            = @last_episode.airs_at.to_s(:long) rescue '-'
          - else
            \-
        %dt Last episode update
        %dd
          - last_updated_episode = @program.episodes.order('created_at').last
          - if last_updated_episode
            = @program.episodes.by_created_at.last.created_at.to_s(:long) rescue '-'
          - else
            \-
        %dt Created at
        %dd= l @program.created_at, format: :long
        %dt Other options
        %dd= link_to 'Remove', [:admin, :program], :class => [:btn, :danger], :method => :delete, :data => {:'disable-with' => 'Burning episodes...'}

