- selected_episode ||= nil
.tabbable.tabs-right
  %ul.nav.nav-tabs#program-season-tabs
    - grouped_episodes.each do |season, episodes|
      %li{class: (:active if active_season?(season, program, selected_episode)) }
        %a{:href => "#s#{season}", 'data-toggle' => 'tab'}== Season #{season} (#{episodes.length})
  .tab-content
    - grouped_episodes.each do |season, episodes|
      .tab-pane{:id => "s#{season}", :class => (:active if active_season?(season, program, selected_episode)) }
        %table.table.table-bordered.table-striped
          %thead
            %th Title
            %th{:width => 150} Airdate
          %tbody
            = render episodes, selected_episode: selected_episode