%section
  .page-header
    %h1
      = link_to @program.name, @program
      %small banners
  %nav
    %ul.tabs
      - @image_types.each do |image_type|
        %li{:class => (:active if image_type == @image_type)}= link_to image_type, url_for(params.merge(:image_type => image_type, :page => 1))
  .page-header
    %h3 Banners
  = form_for @program, :remote => true, :class => 'form-stacked' do |f|
    - if @images.any?
      %fieldset
        = render :partial => 'images/image', :collection => @images, :locals => {:f => f}
      = submit_tag 'Save', :class => :'btn primary', :disable_with => 'Saving...'
