%h1
  - if params[:search] 
    %span.header== Results for #{params[:search]}
  - else
    %span.header List all programs
  .header_link
    = form_tag programs_path, :method => 'get', :id => "products_search" do
      = hidden_field_tag :direction, params[:direction]
      = hidden_field_tag :sort, params[:sort]
    
      .form_row
        = search_field_tag :q, params[:q]
        = submit_tag 'Search'
  
.column-block
  .body
    - if @programs.any?
      %table.list
        %thead
          %tr
            %th= sortable 'name'
            %th{:width => '120'} Watchers
            %th{:width => '120'}= sortable 'status'
            %th{:width => '200'} Next episode
            %th{:width => '120'}= sortable 'runtime'
        %tbody
          - @programs.each do |program|
            %tr
              %td= link_to program.name, program
              %td
                - if program.users.any?
                  %abbr{:title => program.users.map(&:login).to_sentence}= pluralize(program.users.count, 'watcher')
                - else
                  no watchers
              %td= program.status
              %td
                - if next_episode = program.episodes.airs_at_in_future.first
                  = l next_episode.airs_at, :format => :long
                - else
                  \-
              %td== #{program.runtime} minutes
      = will_paginate @programs
    - else
      %p.nothing 
        No programs found!
      