- page_title @program.name
- meta_description @program.overview

%section.program{ class: follow_status_class(@program) }
  .page-header
    .row
      .span10
        %h1
          = @program.name
          %small
            = @program.status
            - if current_user.try(:trusted?)
              = link_to download_list_program_path @program, authentication_token: current_user.authentication_token, format: :rss do
                %i.icon-rss
      .span2
        - if user_signed_in?
          .pull-right= follow_program_button(@personal_station, @program)
  = render 'program_details'

  %section.episodes
    .page-header
      %h3 Episodes
    = render 'season_tabs', program: @program, grouped_episodes: @grouped_episodes
