- if current_user.try(:trusted?)
  - content_for :head do
    = auto_discovery_link_tag :rss, :format => :rss

- page_title @program.name

%section
  .page-header
    %h1
      = @program.name
      %small
        = @program.status
      - if current_user.try(:trusted?)
        = link_to(tokened_program_path(:id => @program.id, :user_credentials => current_user.single_access_token, :format => :rss), :class => 'right-rss') do
          .icon-rss
  = render 'program_details'
  = render 'season_tabs'
