- page_title @program.name

%section
  .page-header
    %h1
      = @program.name
      %small
        = @program.status
        - if current_user.try(:trusted?)
          = link_to download_list_program_path @program, :authentication_token => current_user.authentication_token, :format => :rss do
            %i.icon-rss
  = render 'program_details'
  = render 'season_tabs'
