%ul.mainmenu
  %li= link_to 'Episodes', [:admin, :episodes]
  %li= link_to 'Interaction', [:admin, :interactions]
  %li= link_to 'Pages', [:admin, :pages]
  %li= link_to 'Program Prefs', [:admin, :program_preferences]
  %li= link_to 'Programs', [:admin, :programs]
  %li= link_to 'Search terms', [:admin, :search_term_types]
  %li= link_to 'Users', [:admin, :users]
