!!! 5
%html{html_attrs('en')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    = stylesheet_link_tag "application", 'jquery-ui-1.8.custom'
    %meta{:name=>"robots",        :content=>"index, follow"}
    %meta{:name=>"revisit-after", :content=>"1 days"}
    %meta{:name=>"author",        :content=>"me"}
    %meta{:name =>'csrf-token',    :content => form_authenticity_token}
    %meta{:name =>'csrf-param',    :content => 'authenticity_token'}
    
    %title TV guide Admin
    = javascript_include_tag 'modernizr-1.6.min'
    - if Rails.env.production?
      %script{:src => 'http://www.google.com/jsapi?key=ABQIAAAAZ20lqvBNC8rqVuYd86VExhSjF49U_F1OK_kiT6PgH0HHJCssihSGO_C1Xk'}
      %script
        google.load('jquery', '1.4')
        google.load('jqueryui', '1.8')
    = yield :head
  %body
    %header
      .content
        %h1 The admin
        %nav
          = render 'layouts/admin/navigation'
          %ul.user_nav
            %li== welcome #{link_to current_user.login.humanize, edit_admin_user_path(current_user)}! 
            %li= link_to 'Back to the website', root_path
        .loading.hidden
          Loading
          = image_tag 'spinner.gif'
    %section
      = render :partial => 'layouts/notifications_and_errors'
      = yield
    %footer
    = yield :bottom
    = render 'layouts/bottom_js'