%tr[program_preference]
  %td= program_preference.try(:user).try(:login) || '-'
  %td= program_preference.try(:program).try(:name) || '-'
  %td= program_preference.try(:search_term_type).try(:name) || '-'
  %td= program_preference.download ? 'Yes' : 'No'
  %td
    = link_to [:admin, program_preference] do
      %i.icon-info-sign
    = link_to edit_admin_program_preference_path( program_preference ) do
      %i.icon-edit