!!! 5
%html{html_attrs('en'), 'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    = include_stylesheets :base
    %meta{:name=>"robots",        :content=>"index, follow"}
    %meta{:name=>"revisit-after", :content=>"1 days"}
    %meta{:name=>"author",        :content=>"Jan-Willem van der Meer"}
    %meta{:name =>'csrf-token',    :content => form_authenticity_token}
    %meta{:name =>'csrf-param',    :content => 'authenticity_token'}
    
    %title== Digital tv guide #{yield(:title)}
    -#
      - if Rails.env.production?
        %script{:src => 'http://www.google.com/jsapi?key=ABQIAAAAZ20lqvBNC8rqVuYd86VExhSjF49U_F1OK_kiT6PgH0HHJCssihSGO_C1Xk'}
        %script
          google.load('jquery', '1.4')
          google.load('jqueryui', '1.8')
    = yield :head
  %body
    %header
      .content= render 'layouts/header'
    %section
      .content
        = render :partial => 'layouts/notifications_and_errors'
        = yield

    = yield :bottom
    = render 'layouts/bottom_js'