- @program ||= episode.program
%tr[episode]
  %td
    = link_to episode.full_episode_title, [@program, episode]
    - if current_user && current_user.trusted? && episode.airs_at && episode.airs_at.past?
      - if episode.downloads.any?
        == [#{link_to "Download", program_episode_path(@program, episode, :format => :nzb)}]
      == [#{link_to "Search", search_program_episode_path(@program, episode)}]
      == [#{link_to "Search HD", search_program_episode_path(@program, episode, :hd => true)}]
      - if current_user.admin?
        \|
        == [#{link_to 'Redownload', admin_episode_path(episode, {:row => true, :format => :js}), :method => :put, :remote => true, :disable_with => 'Downloading...'}]
  %td{:width => 220}
    - if episode.airs_at
      = l(episode.airs_at.to_date, :format => :with_day)
    - else
      \-
