- @program ||= episode.program
%tr[episode]
  %td
    = link_to episode.full_episode_title, program_episode_path(@program, episode), :class => :title
    - if current_user.try(:trusted?) && episode.airs_at.try(:past?)
      .downloads
        %i.icon-download-alt
        - if episode.downloads.any?
          - episode.downloads.includes(:search_term_type).each do |download|
            - next unless download.search_term_type
            %span.label.label-success
              = link_to download.search_term_type.name, episode_path(episode, :download_type => download.download_type ,:format => :nzb), :title => download.origin
        - else
          %span.label No downloads available
      .search
        %i.icon-search
        - SearchTermType.all.each do |search_term|
          %span.label.label-success= link_to search_term.name, search_episode_path(episode, :search_type => search_term.code)
  %td{:width => 220}
    - if episode.airs_at
      %p= pretty_date episode.airs_at.to_date, :with_year => true
      - if episode.airs_at.past? && current_user.try(:admin?)
        = link_to('Redownload', admin_episode_path(episode, :partial => :episodes), :method => :put, :remote => true, :disable_with => 'loading...', :class => 'btn small')

    - else
      \-
