- @program ||= episode.program
%tr[episode]
  %td
    = link_to episode.full_episode_title, program_episode_path(@program, episode), :class => :title
    - if current_user.try(:trusted?) && episode.airs_at.try(:past?)
      .downloads
        %i.icon-cloud-download
        - if episode.downloads.any?
          - episode.downloads.each do |download|
            %span.label.label-success
              = link_to download.search_term_type.name, download_episode_path(episode, :quality_code => download.download_type, :format => :nzb), :title => download.origin
        - else
          %span.label No downloads available
      .search
        %i.icon-search
        - @search_terms.each do |search_term|
          %span.label.label-success= link_to search_term.name, search_episode_path(episode, :quality_code => search_term.code)
  %td{:width => 220}
    - if episode.airs_at
      %p= pretty_date episode.airs_at.to_date, :with_year => true
      - if episode.airs_at.past? && current_user.try(:admin?)
        = link_to('Redownload', admin_episode_path(episode, :partial => :episodes), :method => :put, :remote => true, :disable_with => 'loading...', :class => 'btn small')

    - else
      \-
