- program ||= episode.program
- season  ||= episode.season
%li[episode]{:class => episode.view_classes}
  = link_to "#{episode.nr} - #{episode.title} - #{episode.airdate.to_s(:long)}", [@program, @season, @episode]
  %ul.controls
    %li
      - if episode.downloaded?
        Downloaded                  
      - else
        = link_to "Mark as downloaded", mark_program_season_episode_path(program, season, episode), :class => :mark, :'data-remote' => true, :'data-method' => 'put'
    %li= link_to "Search", search_episode_path(episode), :target => '_blank'
    - if episode.nzb?
      %li= link_to "Download", download_episode_path(episode), :target => '_blank'
