%dd.panel[episode]
  .row-fluid
    .span9
      %h5
        = link_to episode.program_name, episode.program
        &nbsp;-&nbsp;
        = link_to episode.full_episode_title, episode
    .span3
      - if current_user.try(:admin)
        = link_to episode_path(episode), :class => 'pull-right refresh', :method => :put, :remote => true do
          %i.icon-repeat

  .row-fluid
    - if current_user.try(:trusted)
      .download_options
        %i.icon-cloud-download.icon-large
        - if episode.downloads.any?
          - episode.downloads.each do |download|
            %span.label.label-success
              = link_to download.search_term_type.name, download_episode_path(episode, quality_code: download.download_type, :format => :nzb), :title => download.origin
        - else
          %span.label.label-info No downloads available

      .search_options
        %i.icon-search.icon-large
        - @search_terms.each do |search_term|
          %span.label.label-success
            = link_to search_term.name, search_episode_path(episode, quality_code: search_term.code)

    %small= episode.description
  %br
