.panel[episode]
  .row-fluid
    .span9
      %h5
        = link_to episode.program_name, episode.program
        &nbsp;-&nbsp;
        = link_to episode.full_episode_title, episode

    .span3
      - if current_user.try(:admin)
        = link_to admin_episode_path(episode, :partial => :past_episode, :format => :js), {:class => 'pull-right refresh', :method => :put, :remote => true, :disable_with => 'Please wait...'} do
          %i.icon-refresh

  .row-fluid
    .span7
      - if current_user.try(:trusted)
        %p{style: 'display: block'}
          %i.icon-download
          - if episode.downloads.any?
            - episode.downloads.includes(:search_term_type).each do |download|
              - next unless download.search_term_type
              %span.label.label-success
                = link_to download.search_term_type.name, episode_path(episode, :download_type => download.download_type ,:format => :nzb), :title => download.origin
          - else
            %span.label.label-info No downloads available
        %p{style: 'display: block'}
          %i.icon-search
          - @search_terms.each do |search_term|
            %span.label.label-success= link_to search_term.name, search_episode_path(episode, :search_type => search_term.code)

      %small= episode.description

    .span5
      -#
        = link_to episode do
          %img{:src => 'http://placehold.it/320x180/fff/999/&text=No+image+available', :alt => episode.full_title, :class => 'img-polaroid pull-right', :size => '320x180'}
  %br
