- cache [episode, episode.program] do
  %dd.panel[episode]
    %h5
      = link_to episode.program_name, episode.program
      &nbsp;-&nbsp;
      = link_to episode.full_episode_title, [episode.program, episode]
      = link_to program_episode_path(episode.program, episode), :class => 'pull-right refresh',
        :method => :put, :remote => true do
        %i.icon-repeat

    .row-fluid
      .clear= render 'episodes/trusted_actions', episode: episode
      .media
        - if episode.thumb.present?
          .pull-left= image_tag(episode.thumb.url, class: 'media-object img-polaroid', size: '300x168')
        %small= episode.description
