- page_title "#{@episode.program.name} - #{@episode.full_episode_title}"
.column-block
  %h1
    = link_to @episode.program.name, @episode.program
    == - Season #{@episode.season.nr} - #{@episode.title}
  .body
    %p
      == Airdate: #{l @episode.airs_at, :format => :long}
      - if @episode.airs_at.past?
        == (#{distance_of_time_in_words_to_now(@episode.airs_at)} ago)
      - else
        == (in about #{distance_of_time_in_words_to_now(@episode.airs_at)})
  
    %p= @episode.description

    %p
      - if current_user.try(:trusted?) && @episode.airs_at.try(:past?)
        %button.download= link_to "Download nzb", download_program_episode_path(@episode.program, @episode)
        %button= link_to 'Search', search_program_episode_path(@episode.program, @episode), :target => '_blank'
        %button= link_to 'Search HD', search_program_episode_path(@episode.program, @episode, :hd => true), :target => '_blank'
        or
      = link_to 'go back', :back

.column-block
  %h2 Comments
  .body
    #disqus_thread
:javascript
  var disqus_identifier = '#{dom_id(@episode)}_#{Rails.env}';
  var disqus_url        = '#{program_episode_url(@episode.program, @episode)}';