- content_for :sidebar do
  = render 'application/station_list'

- page_title "#{@episode.program.name} - #{@episode.full_episode_title}"

%ul.breadcrumb
  %li
    = link_to 'Home', root_path
    %span.divider /
  %li
    = link_to 'Programs', programs_path
    %span.divider /
  %li
    = link_to @episode.program.name, program_path(@episode.program)
    %span.divider /
  %li.active= @episode.full_episode_title

  / next+previous links
  %li.pull-right
    = link_to 'Next episode', program_episode_path(@episode.program, @episode.next, anchor: dom_id(@episode))
  %li.pull-right
    = link_to 'Previous episode', program_episode_path(@episode.program, @episode.previous, anchor: dom_id(@episode))
    %span.divider /

%section
  .page-header
    %h1
      = @episode.program.name
      %small== - Season #{@episode.season_nr} - #{@episode.title}

  .media
    - if @episode.thumb.present?
      .pull-left
        %img{ src: @episode.thumb.url, class: 'media-object img-polaroid' }
    .media-body
      %dl
        %dt Description
        %dd= @episode.description
        %dt Airdate
        %dd
          - if @episode.airs_at
            = l @episode.airs_at, format: :short
          - else
            TBD
        %dt Episode info
        %dd== Season #{@episode.season_nr}, Episode #{@episode.nr}
      - if current_user.try(:trusted?) && @episode.airs_at.try(:past?)
        = render 'trusted_actions', episode: @episode
%section
  %h3 Season overview
  = render 'programs/season_tabs', program: @program, grouped_episodes: @grouped_episodes, selected_episode: @episode
