- page_title "#{@episode.program.name} - #{@episode.full_episode_title}"
%section
  .page-header
    %h1
      = link_to @episode.program.name, @episode.program
      %small== - Season #{@episode.season_nr} - #{@episode.title}
  .row
    .span3
      - if image = @episode.image || @episode.program.images.saved.random.first
        %img{:src => image.s3_url(:episode), :align => :left, :class => 'img-polaroid'}
    .span9
      %dl
        .panel
          %dt Airing
          %dd
            - if @episode.airs_at
              = pretty_date @episode.airs_at.to_date
            - else
              Unknown
          - if current_user.try(:trusted?)
            %dt Actions
            %dd
              .download
                %i.icon-cloud-download
                - if @episode.downloads.includes(:search_term_type).any?
                  - @episode.downloads.includes(:search_term_type).each do |download|
                    - next unless download.search_term_type
                    %span.label.label-success
                      = link_to download.search_term_type.name, episode_path(@episode, :download_type => download.download_type ,:format => :nzb), :title => download.origin
                - else
                  %span.label.label-info No downloads available
              .search
                %i.icon-search
                - SearchTermType.all.each do |search_term|
                  %span.label.label-success= link_to search_term.name, search_episode_path(@episode, :search_type => search_term.code)
          %p= @episode.description
