- page_title "#{@episode.program.name} - #{@episode.full_episode_title}"
%section
  .page-header
    %h1
      = link_to @episode.program.name, @episode.program
      %small== - Season #{@episode.season_nr} - #{@episode.title}
  .media.panel
    - if @episode.thumb.present?
      .pull-left= image_tag(@episode.thumb.url, class: 'media-object')
    .media-body
      %dt Airing
      %dd
        - if @episode.airs_at
          = pretty_date @episode.airs_at.to_date
        - else
          Unknown
      - if current_user.try(:trusted?)
        %dt Actions
        %dd= render 'trusted_actions', episode: @episode
      %p= @episode.description
