%tr[search_term_type]
  %td= search_term_type.name
  %td= pluralize search_term_type.program_preferences.count, 'Program preference'
  %td
    = link_to [:admin, search_term_type] do
      %i.icon-info-sign
    = link_to edit_admin_search_term_type_path(search_term_type) do
      %i.icon-edit
    = link_to [:admin, search_term_type], :confirm => 'Are you sure?', :method => :delete do
      %i.icon-remove

