%section
  .page-header
    %h1
      Interactions
      %small== Current time #{Time.now.to_s(:long)} #{Time.zone}

  - if @interactions.any?
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th User
          %th Program
          %th Episode
          %th Actie
          %th User agent
          %th timestamp
      %tbody
        - @interactions.each do |interaction|
          %tr[interaction]
            %td= link_to interaction.user.login, interaction.user
            %td= link_to interaction.program.try(:name), interaction.program
            %td= interaction.try(:episode).try(:title) || '-'
            %td= interaction.interaction_type.humanize
            %td= formatted_user_agent interaction.user_agent
            %td
              %time{:datetime => interaction.created_at.getutc.iso8601}
                = l interaction.created_at, :format => :with_day
  - else
    %p.nothing No interactions found yet!