%section
  .page-header
    %h1 
      Interactions
      %small== Current time #{Time.now.to_s(:long)} #{Time.zone}

  - if @interactions.any?
    %table.zebra-striped
      %thead
        %tr
          %th= sortable 'user_id', 'User'
          %th= sortable 'program_id', 'Program'
          %th= sortable 'episode_id', 'Episode'
          %th= sortable 'interaction_type', 'Actie'
          %th= sortable 'created_at'
      %tbody
        - @interactions.each do |interaction|
          %tr[interaction]
            %td= interaction.user.try(:login) || '-'
            %td= interaction.program.try(:name) || '-'
            %td= interaction.try(:episode).try(:title) || '-'
            %td= interaction.interaction_type.humanize
            %td
              %time{:datetime => interaction.created_at.getutc.iso8601}
                = l interaction.created_at, :format => :with_day
  - else
    %p.nothing No interactions found yet!