%h1 Interactions

- if @interactions.any?
  %table.list
    %thead
      %tr
        %th= sortable 'user_id', 'User'
        %th= sortable 'program_id', 'Program'
        %th= sortable 'episode_id', 'Episode'
        %th= sortable 'interaction_type', 'Actie'
        %th= sortable 'created_at'
    %tbody
      - @interactions.each do |interaction|
        %tr[interaction]
          %td= interaction.user.login
          %td= interaction.program.name
          %td= interaction.try(:episode).try(:title) || '-'
          %td= interaction.interaction_type.humanize
          %td= l interaction.created_at, :format => :long
- else
  %p.nothing No interactions found yet!