%h1== Programma: #{@program.name} [#{@program.status}]

%section
  = image_tag( @program.banner_url, :class => :flt_left ) if @program.banner?
  %ul.flt_right 
    %li== Last updated #{distance_of_time_in_words_to_now(@program.tvdb_last_update)} ago
    %li= link_to 'View update list', program_updates_path(@program)
    %li= link_to 'Imdb page', "http://www.imdb.com/title/#{@program.imdb_id}"
    - if current_user
      - if current_user.programs.include?(@program)
        %li= link_to 'Remove from your episode guide', user_program_path(current_user, @program), :method => :delete
      - else
        %li= link_to 'Add to your episode guide', user_programs_path(current_user, :id => @program.id), :method => :post

.row_seperator
%p= @program.overview
- if @program.seasons.any?
  .tabs
    %ul
      - @program.seasons.by_nr(:desc).all(:include => :episodes).each do |season|
        %li
          %a{:href => "#tabs-#{season.nr}"}
            - if season.nr == 0
              Pilots & Specials
              == (#{season.episodes.length})
            - else
              == Season #{season.nr} (#{season.episodes.length})
            
    - @program.seasons.by_id(:desc).all(:include => :episodes).each do |season|
      %div{:id => "tabs-#{season.nr}"}
        %table.full_width
          %thead
            %tr
              %th Title
              %th{:width => 150} Airdate
          %tbody
          - season.episodes.by_id(:desc).each do |episode|
            %tr[episode]
              %td
                = link_to episode.full_episode_title, [@program, episode]
                - if current_user && current_user.trusted?
                  - if episode.nzb?
                    == [#{link_to "Download", download_episode_path(@program, episode)}]
                  == [#{link_to "Search", search_episode_path(episode)}]
                  == [#{link_to "Search HD", search_episode_path(episode, :hd => true)}]
              %td
                - if episode.airdate
                  = l(episode.airdate, :format => :long)
                - else
                  \-
- else
  %p.nothing No seasons yet!