- page_title 'Register'

%section
  .page-header
    %h1 
      Register new account
      %small to create your personal tv guide
  - if current_user
    %p
      You are already logged in!
  - else
    .row
      .span10= render 'form'
      .span6
        .page-header
          %h3 About your registration
        %p 
          We require your details to create your own personal guide. That way we can save your preferences and protect your guide from being messed up by anyone but yourself. 

        %p
          This information will only be used on this website and will not be used anywhere else. 
        %p
          Enjoy your stay!
    -#
      .row
        .span8.columns
          -#
          %h3 Using the form
          = form_for(:user, :url => users_path) do |f|
            - if params[:action] == 'create' && !@user.valid? && session[:omniauth].present?
              - if !@user.email.blank? && !@user.login.blank?
                %p You probably already have an account. Please login and connect via the account page
              - else
                %p Could not retrieve all data. Please supply the required fields
            .clearfix
              = f.label :email
              .input
                .input-prepend
                  .add-on @
                  = f.text_field :email, :placeholder => 'e.g. you@email.com ', :autofocus=> 'ok', :required => 'true'
            - if @user.password_required?
              .clearfix
                = f.label :password
                .input
                  = f.password_field :password, :required => true
              .clearfix
                = f.label :password_confirmation
                .input
                  = f.password_field :password_confirmation, :required => true
            .clearfix
              = f.label :login, 'Username'
              .input
                = f.text_field :login, :placeholder => 'e.g. tv-geek', :required => true
            .actions
              = submit_tag 'Sign up', :class => :'btn primary', :disable_with => 'Registering...'
        
        .span8.columns
          %h3 Using external account
          .row
            .span4.columns
              - AUTH_PROVIDERS.each do |service|
                = link_to image_tag("auth_icons/#{service}_64.png", :size => '64x64', :class => :icon), "/auth/#{service}"
            .span4.columns
              %p If u use one of the networks listed on the left simply click one of them to register your Digital TV Guide Account.

-#
  .centerbox
    %h2 Create an account
    - if current_user
      %p You are already logged in!
    - else
      %h3 Sign up using an external service
      - AUTH_PROVIDERS.each do |service|
        = link_to image_tag("auth_icons/#{service}_64.png", :size => '64x64', :class => :icon), "/auth/#{service}"
      %h3 Or use the username / password way
      = form_for(:user, :url => users_path) do |f|
        - unless params[:action] == 'create' && @user.valid? && session[:omniauth]
          - if !@user.email.blank? && !@user.login.blank?
            %p You probably already have an account. Please login and connect via the account page
          - else
            %p Could not retrieve all data. Please supply the required fields
        .form_row
          = f.label :email
          = f.email_field :email, :class => :small, :placeholder => 'e.g. you@email.com ', :autofocus=> 'ok', :required => 'true'
        - if @user.password_required?
          .form_row
            = f.label :password
            = f.password_field :password, :class => :small, :required => true
          .form_row
            = f.label :password_confirmation
            = f.password_field :password_confirmation, :class => :small, :required => true
        .form_row
          = f.label :login, 'Username'
          = f.text_field :login, :class => :small, :placeholder => 'e.g. tv-geek', :required => true
        .form_row
          %label &nbsp;
          %button.save Create
      