%h1 Listing users

- if @users.any?
  %table.full_width.list
    %thead
      %tr
        %th Email
        %th Registerd at
        %th Last request
        %th Nr of logins
        %th Nr of programs
        %th.controls
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= l user.created_at, :format => :long
          %td= user.last_request_at? ? l(user.last_request_at, :format => :long) : '-'
          %td= user.login_count
          %td= pluralize(user.programs.count, 'program')
          %td
            = link_to 'Show', [:admin, user]
            = link_to 'Edit', edit_admin_user_path(user)
            = link_to 'Destroy', [:admin, user], :confirm => 'Are you sure?', :method => :delete
  
- else
  %p No users yet!
%br

= link_to 'New user', new_admin_user_path
