%h1 Configurations

- if @configurations.any?
  %table.list
    %tr
      %th Program
      %th Created
      %th Last updated
      %th Controls

    - @configurations.each do |configuration|
      %tr[configuration]
        %td= configuration.program || 'default'
        %td= configuration.created_at.to_s :long
        %td= configuration.updated_at.to_s :long
        %td
          = link_to 'Show', [:admin, configuration]
          = link_to 'Edit', edit_admin_configuration_path(configuration)
          = link_to 'Delete', [:admin, configuration], :method => :delete
  
- else
  %p.nothing Not even a default filter exist!