.page-header
  %h1 Configurations

- if @configurations.any?
  %table.table.table-striped
    %tr
      %th Program
      %th Created
      %th Last updated
      %th Controls

    - @configurations.each do |configuration|
      %tr[configuration]
        %td= configuration.program || 'default'
        %td= configuration.created_at.to_s :long
        %td= configuration.updated_at.to_s :long
        %td
          = link_to edit_admin_configuration_path(configuration) do
            %i.icon-edit
          = link_to [:admin, configuration], :method => :delete do
            %i.icon-trash

- else
  %p.nothing Not even a default filter exist!