!!!
%html{html_attrs('en')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    = stylesheet_link_tag "application", 'jquery-ui-1.8.custom'
    %meta{:name=>"robots",        :content=>"index, follow"}
    %meta{:name=>"revisit-after", :content=>"1 days"}
    %meta{:name=>"author",        :content=>"me"}
    %meta{:name =>'csrf-token',    :content => form_authenticity_token}
    %meta{:name =>'csrf-param',    :content => 'authenticity_token'}
    
    %title TV guide Admin
    = javascript_include_tag 'jquery-1.4.2.min', 'rails', 'jquery-ui-1.8.custom.min', 'jquery.dotimeout', 'jquery.autoresize.min', 'jquery.application'
    
    = yield :head
  %body
    #wrapper
      %header
        %hgroup
          %h1 The admin
        .user_nav
          %p== welcome #{link_to current_user.login.humanize, edit_admin_user_path(current_user)}! #{link_to 'Back to the website', root_path} 
        .loading.hidden
          Loading
          = image_tag 'spinner.gif'
      = render 'layouts/admin/navigation'
      .content
        = render :partial => 'layouts/notifications_and_errors'
        = yield
      #footer
    = yield :bottom
    = render 'layouts/bottom_js'