%section#images
  .page-header
    %h1
      - if @program
        == #{link_to @program.name, [:admin, @program]} -
      Images overview
  %section#options
    %h3 Filter
    %ul.nav.nav-pills
      %li
        %a.all{data: {filter_css: '*'}} All
      - @program.images.group(:image_type).count.sort.each do |image_type, nr_of_images|
        %li
          %a{class: image_type, data: {filter_css: "[data-image_type=#{image_type}]"}}== #{image_type.humanize} (#{nr_of_images})
      %li
        %a.saved.selected{data: {filter_css: '[data-saved=]'}} Saved

    %h3 Sort
    %ul.nav.nav-list
      %li
        %a.created_at.selected Creation date
      %li
        %a.image_type Image type

  %ul.thumbnails.images
    - @images.each do |image|
      %li[image]{:class => "#{image.image_type} span3", :data => { :created_at => image.created_at.getutc.iso8601, :saved => image.saved?, :image_type => image.image_type}}
        = link_to [:admin, image], class: :thumbnail do
          - if image.image?
            %img.thumbnail{:src => image.s3_url(:episode)}
          - else
            %img.thumbnail{:src => "/images/#{image.id}.jpg"}
