%tr[episode]
  %td
    = link_to episode.program_name, episode.program
    \-
    = link_to episode.full_episode_title, episode
  %td= l(episode.airs_at, :format => :long)
  %td
    = link_to edit_admin_episode_path(episode) do
      %i.icon-edit.icon-large
    = link_to admin_episode_path(episode), method: :delete do
      %i.icon-trash.icon-large
