%tr[episode]
  %td
    = link_to episode.program.name, episode.program
    \- 
    = link_to episode.full_episode_title, episode
  %td= l(episode.airs_at, :format => :long)
  %td.trigger
    %abbr{:title => "by #{episode.users.uniq.map(&:login).to_sentence}"}== downloaded #{pluralize episode.users.count, 'times'}
  %td= link_to icon_tag('info'), [:admin, episode]
