.page-header
  %h1== Edit #{@episode.program_name} episode
.row
  .span12
    = simple_form_for [:admin, @episode] do |f|
      = f.input :title
      = f.input :description, input_html: { class: 'input-block-level' }
      = f.association :program
      = f.input :nr
      = f.input :season_nr
      = f.input :airdate
      = f.input :airs_at
      = f.input :downloads
      = f.input :tvdb_id

      .form-actions
        = f.button :submit
    .page-header
      %h3 Raw data model
    %pre.prettyprint
      = raw @episode.attributes.to_yaml
