%h1 Episode Downloads
.column-block
  .body
    - if @episodes.any?
      %table.list
        %thead
          %tr
            %th= sortable('title', 'Episode title')
            %th= sortable('airs_at', 'Airdate')
            %th Nr of downloaders
            %th
        %tbody
          - @episodes.uniq.each do |episode|
            %tr[episode]
              %td
                = link_to episode.program.name, episode.program
                \- 
                = link_to episode.full_episode_title, episode
              %td= l(episode.airs_at, :format => :long)
              %td.trigger
                %abbr{:title => "by #{episode.users.uniq.map(&:login).to_sentence}"}== downloaded #{pluralize episode.users.count, 'times'}
                / %ul.tooltip{:style => 'display: none'}
                /   - episode.users.uniq.each do |user|
                /     %li=user.login
              %td= link_to icon_tag('info'), [:admin, episode]
      = will_paginate @episodes
    - else
      %p.nothing 