%tr[user]
  %td= link_to user.login, [user, :programs], :title => user.email
  %td= l user.created_at, :format => :long
  %td= pluralize(user.sign_in_count, 'time')
  %td= pluralize(user.programs.count, 'program')
  %td
    = link_to [:admin, user], :title => 'More information' do
      %i.icon-eye-open
    = link_to edit_admin_user_path(user), :title => 'Edit this user' do
      %i.icon-edit
    = link_to [:admin, user], :confirm => 'Are you sure?', :method => :delete, :title => 'Remove this user' do
      %i.icon-trash
