%tr[user]
  %td
    = link_to user.login, [user, :programs], :title => user.email
    - if user.admin?
      %span.label.label-warning Admin
    - if user.trusted?
      %span.label.label-info Trusted
  %td= l user.created_at, :format => :long
  %td= pluralize(user.sign_in_count, 'time')
  %td= pluralize(user.stations.count, 'program')
  %td
    = link_to edit_admin_user_path(user), :title => 'Edit this user' do
      %i.icon-edit.icon-large
    = link_to [:admin, user], :confirm => 'Are you sure?', :method => :delete, :title => 'Remove this user' do
      %i.icon-trash.icon-large
