.page-header
  %h1 Listing users

%table.table.table-striped
  %thead
    %tr
      %th= sortable 'login', 'User'
      %th= sortable 'created_at', 'Registered at'
      %th= sortable 'last_request_at', 'Last request'
      %th= sortable 'login_count', 'Nr of logins'
      %th Nr of programs
      %th.controls
  %tbody= render @users

= link_to 'New user', new_admin_user_path, class: :btn
