.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      -# responsive menu for small displays
      %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to 'Digital TV Guide', root_path, class: :brand

      -# everything inside this div is hidden for small displays
      .nav-collapse.collapse
        %ul.nav
          %li= link_to 'Home', root_path
          %li
            = link_to 'Guide', guide_programs_path
          %li
            = link_to 'Programs', :programs
        %form.navbar-form.pull-left{action: programs_path}
          %input{type: :search, name: :q, value: params[:q]}

        %ul.nav.pull-right
          - if current_user
            %li.dropdown
              %a.dropdown-toggle{'data-toggle' => :dropdown, href: '#' }
                = current_user.login.humanize
                %b.caret
              %ul.dropdown-menu{role: :menu, 'aria-labelledby' => 'dLabel'}
                %li= link_to 'Guide & Programs', [current_user, :programs]
                %li= link_to "Account", edit_user_path(current_user)
                - if current_user.admin?
                  %li.divider
                  %li= link_to "Admin", admin_root_path
                %li.divider
                %li= link_to "Logout", destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Register', new_user_path
            %li= link_to 'Login', new_user_path
