- @notifications ||= []
- @notifications.each do |notification|
  .alert{:class => "alert-#{notification.flash_type}"}
    %strong== #{notification.flash_type.to_s.humanize}:
    =notification.content

- flash.each do |k,v|
  - if v.is_a?(String)
    .alert{:class => "alert-#{k.to_s}"}
      %strong== #{k.to_s.humanize}:
      = v
    - flash.delete(k)
