.centerbox
  %h1 Login
  - if current_user
    %p You are already logged in! 
    %p= link_to 'Logout', user_session_path, :method => :delete
  - else
    - if params[:test] || Rails.env.development?
      %h3 With an external service
      - AUTH_PROVIDERS.each do |service|
        = link_to image_tag("auth_icons/#{service}_64.png", :size => '64x64', :class => :icon), "/auth/#{service}"
      %h3 Or go old skool
    = form_for :user_session, :url => user_session_path do |f|
      .form_row
        = f.label :email, 'Login / E-mail'
        = text_field_tag 'user_session[email]', '',:class => :small, :placeholder => 'e.g. you@email.com or klaas', :autofocus => true, :required => true
      .form_row
        = f.label :password
        = password_field_tag 'user_session[password]', '', :class => :small, :placeholder => 'password'
      .form_row
        %label &nbsp;
        = f.check_box :remember_me
        &nbsp;keep me logged in
      .form_row
        %label &nbsp;
        %button.save.flt-left Login
      -#
        %hr
        %p
          %fb:login-button