- page_title 'Login'
%section
  .page-header
    %h1
      Login
      %small So we know where to guide you :-)

  .row
    .span6
      .page-header
        %h3 With credentials
      = simple_form_for :user_session, :url => user_session_path, html: {class: 'form-horizontal'} do |f|

        = f.input :email
        = f.input :password
        .form-actions
          = f.button :submit
    .span6
      .page-header
        %h3 Don't have an account yet?
      %p
        an account enables you to create your personal tv guide. This will be a collection of all your favorite tv programs.
      = render 'user/users/form'
