.centerbox
  %h1 Login
  - if current_user
    %p You are already logged in! 
    %p= link_to 'Logout', user_session_path, :method => :delete
  - else
    = form_for :user_session, :url => user_session_path do |f|
      .form_row
        = f.label :email
        = email_field_tag 'user_session[email]', '',:class => :small, :placeholder => 'e.g. you@email.com ', :autofocus=> 'ok', :required => 'zeker wel'
      .form_row
        = f.label :password
        = password_field_tag 'user_session[password]', '', :class => :small, :placeholder => 'password'
      .form_row
        %label &nbsp;
        = f.check_box :remember_me
        &nbsp;keep me logged in
      .form_row
        %label &nbsp;
        %button.save.flt-left Login
    -#
      %hr
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.