- content_for(:head) do
  %style
    :sass
      .form_row.one_line_form
        line-height: 22px
        label
          padding-left: 5px
          margin-top: 2px
          line-height: 22px
        input 
          margin-top: 2px
          float: left
          length: 250px
        button
          float: right
        height: 30px
%h1 User settings
.half-column.flt-left
  .column-block
    %h2 Account settings
    .body
      = form_for(current_user) do |f|
        = f.error_messages
        .form_row
          = f.label :email
          = current_user.email
        .form_row
          = f.label :login, 'Username'
          = f.text_field :login, :class => :small
        .form_row
          = f.label :password
          = f.password_field :password, :class => :small, :autocomplete => :off
        .form_row
          = f.label :password_confirmation
          = f.password_field :password_confirmation, :class => :small, :autocomplete => :off
        %button.save Update
  .column-block
    %h2 External services
    .body
      %p You can login without a password by connecting with one of the services below
      .form_row
        - (AUTH_PROVIDERS - current_user.authentications.map(&:provider)).each do |service|
          = link_to image_tag("auth_icons/#{service}_64.png"), "/auth/#{service}"
      - if current_user.authentications.any?
        %h4 Connected services
        %ul.auth_providers
          - current_user.authentications.each do |auth|
            %li
              = image_tag("auth_icons/#{auth.provider}_32.png")
              = auth.provider.humanize
              = auth.uid
              - unless current_user.authentications.count == 1 && current_user.crypted_password.blank?
                = link_to icon_tag('delete'), user_authentication_path(current_user, auth), :method => :delete
      - else
        %p.nothing Not connected to any external service yet!
.half-column.flt-right
  .column-block
    %h2 Watched programs
    .body
      - if current_user.programs.any?
        %ul.my_programs
          - current_user.programs.each do |program|
            %li
              = link_to program.name, program
              = link_to icon_tag('delete'), user_program_path(current_user, program), :method => :delete
      - else
        %p.nothing No programs watched yet