.centerbox
  %h2 Create an account
  - if current_user
    %p You are already logged in!
  - else
    %h3 Sign up using an external service
    - AUTH_PROVIDERS.each do |service|
      = link_to image_tag("auth_icons/#{service}_64.png", :size => '64x64', :class => :icon), "/auth/#{service}"
    %h3 Or use the username / password way
    = form_for(:user, :url => users_path) do |f|
      - unless @user.valid? && session[:omniauth]
        - if !@user.email.blank? && !@user.login.blank?
          %p You probably already have an account. Please login and connect via the account page
        - else
          %p Could not retrieve all data. Please supply the required fields
      .form_row
        = f.label :email
        = f.email_field :email, :class => :small, :placeholder => 'e.g. you@email.com ', :autofocus=> 'ok', :required => 'true'
      - if @user.password_required?
        .form_row
          = f.label :password
          = f.password_field :password, :class => :small, :required => true
        .form_row
          = f.label :password_confirmation
          = f.password_field :password_confirmation, :class => :small, :required => true
      .form_row
        = f.label :login, 'Username'
        = f.text_field :login, :class => :small, :placeholder => 'e.g. tv-geek', :required => true
      .form_row
        %label &nbsp;
        %button.save Create
    