-#
  - unless Rails.env.production?
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.4.custom.min'
  = javascript_include_tag 'rails', 'jquery.dotimeout', 'jquery.select_autocomplete', 'jquery.autoresize.min','jquery.placeholder', 'jquery.tipsy', 'jquery.rotate', 'jquery.application', 'http://connect.facebook.net/en_US/all.js'
= include_javascripts :base  
- if Rails.env.production?
  = javascript_include_tag 'jquery-ui-1.8.4.custom.min'
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-151290-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  var disqus_shortname = 'digitaltvguide'; // required: replace example with your forum shortname
  #{ "var disqus_developer = 1;" if Rails.env.development?  }
  
  if (typeof disqus_url !== 'undefined') {
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  }
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());

:javascript
  #{yield :bottom_js}

  $(function() {
    #{yield :bottom_js_domready}
  });
