%footer
  %hr
  %ul
    %li= link_to 'About', page_path('about')
    %li= link_to 'Programs', :programs
    - if current_user
      %li= link_to 'Logout', logout_path
    - else
      - if Rails.env.development?
        %li= link_to 'Register', signup_path
      %li= link_to 'Login', login_path
