!!! 5
%html{html_attrs('en'), 'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    = stylesheet_link_tag "application", 'jquery-ui-1.8.custom'
    %meta{:name=>"robots",        :content=>"index, follow"}
    %meta{:name=>"revisit-after", :content=>"1 days"}
    %meta{:name=>"author",        :content=>"Jan-Willem van der Meer"}
    %meta{:name =>'csrf-token',    :content => form_authenticity_token}
    %meta{:name =>'csrf-param',    :content => 'authenticity_token'}
    
    %title== Digital tv guide #{yield(:title)}
    = javascript_include_tag 'modernizr-1.6.min'
    - if Rails.env.production?
      %script{:src => 'http://www.google.com/jsapi?key=ABQIAAAAZ20lqvBNC8rqVuYd86VExhSjF49U_F1OK_kiT6PgH0HHJCssihSGO_C1Xk'}
      %script
        google.load('jquery', '1.4')
        google.load('jqueryui', '1.8')
    = yield :head
  %body
    #wrapper
      %header= render 'layouts/header'
      .content
        = render :partial => 'layouts/notifications_and_errors'
        = yield
      = render 'layouts/footer'
    = yield :bottom
    - unless Rails.env.production?
      = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.4.custom.min'
    = javascript_include_tag 'rails', 'jquery.dotimeout', 'jquery.select_autocomplete', 'jquery.autoresize.min','jquery.placeholder', 'jquery.tipsy', 'jquery.application'
    = render 'layouts/bottom_js'
    